body{
  min-height:100vh;

  background:
    radial-gradient(rgba(255,255,255,0.02) 1px, transparent 1px),
    linear-gradient(
      to right,
      #000000 0%,
      #2a0d00 50%,
      #000000 100%
    );

  background-size:3px 3px, 100% 100%;

  color:var(--color-text);
  font-family:'Roboto', sans-serif;
  text-align:center;
}

